name: ci-cd
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
        node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Run test
        run: npm test
      - name: Lint code
        run: npm run lint
