name: ci-cd
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
permissions:
  pull-requests: write
  checks: write
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Run tests and generate report
        run: npx allure run -- npm run test
      - name: Run Allure Action
        uses: allure-framework/allure-report@v0
        with:
          # Path to the generated report directory
          # By default, it's set to `./allure-report`
          report-directory: "./allure-report"
          # GitHub Token that's used for posting the comments in Pull Requests
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint code
        run: npm run lint
